<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docinhos Web</title>
</head>
<body>
    <table>
            <tr>
                <td>Olá Mundo</td>
                <td>Olá Mundo</td>
                <td>Olá Mundo</td>
            </tr>
            <tr>
                <td>Olá Mundo</td>
                <td>Olá Mundo</td>
                <td>Olá Mundo</td>
            </tr>
    </table>
</body>
</html>