body {
    font-family: Inter, Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    padding: 10px 0;
    border-bottom: 1px solid rgba(133, 58, 48, 0.25);
    background: #FFF;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-weight: 500;
    font-size: x-large;
}

header nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    margin: 0;
    padding: 0;
}

header nav ul li a {
    text-decoration: none;
    color: #333;
}

header .busca {
    display: flex;
    justify-content: space-between;
}

.divBusca {
    position: relative;
    display: flex;
    align-items: center;
}

.btnBusca {
    width: 15px;
    height: auto;
    background-color: #853A30;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.divBusca .perfil, .carro {
    width: 10px;
    height: auto;
}

.hero-container{
    display: flex;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0;
    background: linear-gradient(270deg, #F2E0D3 0%, rgba(242, 224, 211, 0.50) 49.97%, #FFF 100%);
}

.hero-text {
    max-width: 50%;
    padding-right: 100px;
}

.hero h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
}

.hero p {
    font-size: 1.2em;
    margin-bottom: 20px;
    width: 500px;
}

.hero .buttons a {
    text-decoration: none;
    padding: 10px 20px;
    margin: 5px;
    display: inline-block;
}

.hero .btn-primary {
    background: #853A30;
    color: white;
    border-radius: 5px;
}

.hero .btn-secondary {
    background: #ffffff;
    color: #333;
    box-shadow: 0 0 0 1px #853A30;
    border-radius: 5px;
}

.hero .hero-img {
    max-width: 50%;
    height: auto;
}

.best-rated {
    background: linear-gradient(270deg, #F2E0D3 0%, rgba(242, 224, 211, 0.50) 49.97%, #FFF 100%);
    padding: 50px 0;
}

.best-rated h2 {
    font-weight: 500;
    text-align: center;
    margin-bottom: 20px;
}

.product-grid {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.product {
    text-align: center;
    margin: 20px;
}

.product img{
    height: 200px;
    width: 155px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.product .rating{
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    box-shadow: none;
}

.product .rating img{
    width: 20px;
    height: 20px;
}

.best-rated .btn-secondary {
    display: block;
    margin: 20px auto;
    text-decoration: none;
    color: #333;
    padding: 10px 20px;
    text-align: center;
    background: #ffffff;
    color: #333;
    box-shadow: 0 0 0 1px #853A30;
    border-radius: 5px;
    width: 100px;
}

.additional-content {
    padding: 50px 0;
}

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.text-content {
    max-width: 50%;
}

.text-content h2 {
    font-weight: 500;
}

.text-content p {
    font-weight: 300;
}


.additional-content .content img {
    max-width: 45%;
    height: auto;
}

.additional-content .btn-secondary {
    text-decoration: none;
    background: #ffffff;
    color: #333;
    font-size: small;
}

.cta {
    text-align: center;
    background: #F2E0D3;
    padding: 50px 0;
}

.cta-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 700px;
}

.cta .btn-primary {
    text-decoration: none;
    background: #853A30;
    color: white;
    padding: 10px 20px;
}

.testimonials {
    background: #fff;
    padding: 50px 0;
    text-align: center;
}

.testimonials-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.testimonials blockquote {
    font-size: 1.5em;
    margin: 20px auto;
    max-width: 600px;
}

.testimonials cite {
    display: block;
    margin-top: 10px;
    font-size: 1em;
    color: #777;
}

footer {
    background: #F2E0D3;
    padding: 30px 0;
    text-align: center;
}

.footer-container {
    display: flex;
    flex-direction: column;
}

footer h1 {
    font-weight: 400;
    font-size: 15px;
}

footer p {
    margin: 10px 0;
}

footer nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 10px 0;
}

footer nav ul li a {
    text-decoration: none;
    color: #333;
}

.foot-up {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(133, 58, 48, 0.25);
    padding-bottom: 20px;
}

.foot-down {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 20px;
}

.foot-down p {
    font-size: 10px;
}

/* Estilo para a tabela */
table {
    width: 100%;
    border-collapse: collapse;
    background-color: #fff; /* Cor de fundo branca */
    border: 1,5px solid #292020; /* Borda cinza claro */
}

/* Estilo para as células do cabeçalho (th) */
th {
    background-color: #853A30; /* Rosa claro */
    color: #fff; /* Texto branco */
    padding: 10px;
    text-align: left;
    border: 1px solid #e0e0e0;
}

/* Estilo para as células de dados (td) */
td {
    background-color: #f4d9c6; /* Marrom claro */
    color: #423d3d; /* Texto preto */
    padding: 10px;
    border: 1px solid #e0e0e0;
}

/* Estilo para linhas alternadas (opcional) */
tr:nth-child(even) {
    background-color: #f9f9f9; /* Cinza claro */
}
table .botao-edit {
    background: #853A30;
    color: white;
    border-radius: 2px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}
table .botao-2 {
    background: #ffffff;
    color: #333;
    box-shadow: 0 0 0 1px #853A30;
    border-radius: 2px;
    border: none;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para o formulário de cadastro do produto */
form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #e0e0e0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Estilo para os campos de entrada */
input[type="text"],
input[type="number"],
input[type="date"] {
    width: 97%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

/* Estilo para o botão de cadastro */
input[type="submit"] {
    background-color: #ff99cc; /* Rosa claro */
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #ff6699; /* Rosa mais escuro ao passar o mouse */
}
