<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar Produto</title>
</head>
<body>
    <h1>Novo Item</h1>
   
    <form action="#" th:action="@{/produtos/cadastro}" method="post">
        <input type="text" th:field="*{nome}" />
        <input type="text" th:field="*{descricao}" />
        <input type="number" th:field="*{preco}" />
        <input type="date" th:field="*{dtFabricacao}" />
        <input type="date" th:field="*{dtValidade}" />
        <input type="submit" value="Salvar" />
    </form>
</body>
</html>
