<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style/style.css" />
    <title>Editar Produto</title>
  </head>
  <body>
    <header>
      <div class="container header-container">
        <h1>Docinhos Web</h1>
        <nav>
          <ul>
            <li><a href="/">Início</a></li>
            <li><a href="/listarProdutos">Produtos</a></li>
          </ul>
        </nav>
        <div class="busca">
            <div class="divBusca">
                <input type="text" class="txtBusca" placeholder="Buscar..."/>
                <img src="../static/img/Lupa.png" class="btnBusca" alt="Buscar"/>
            </div>
            <nav>
                <ul>
                    <li class="perfil"><a href="#perfil"><img src="../static/img/Perfil.png"></a></li>
                    <li class="carro"><a href="#carrinho"><img src="../static/img/Carrinho.png"></a></li>
                </ul>
            </nav>
        </div>
      </div>
    </header>

    <main class="container">
      <h2>Cadastro de Produto</h2>
      <form class="form" method="post" th:object="${produto}">
        
        <label for="Id">Id Produto</label>
        <input readonly id="idProduto" required th:value="*{idProduto}"/>
        
        <label for="nome">Nome</label>
        <input type="text" id="nome" required th:field="*{nome}" />

        <label for="descricao">Descrição</label>
        <input type="text" id="descricao" required th:field="*{descricao}" />

        <label for="preco" min="0">Preço</label>
        <input type="number" id="preco" required th:field="*{preco}" />

        <label for="dtFabricacao">Data de Fabricação</label>
        <input
          type="date"
          id="dtFabricacao"
          required
          th:field="*{dtFabricacao}"
        />

        <label for="dtValidade">Data de Validade:</label>
        <input type="date" id="dtValidade" required th:field="*{dtValidade}" />

        <input type="submit" value="Cadastrar" />
  
      </form>
    </main>

    <div class="footer">
      <p>© 2024 Docinhos web. Todos os direitos reservados.</p>
      <nav>
        <a href="#facebook"
          ><img src="/static/img/Facebook.png" alt="Facebook"
        /></a>
        <a href="#X"><img src="/static/img/TwitterX.png" alt="Twitter" /></a>
        <a href="#Instagram"
          ><img src="../static/img/Instagram.png" alt="Instagram"
        /></a>
        <a href="#Linkedin"
          ><img src="../static/img/LinkedIn.png" alt="LinkedIn"
        /></a>
      </nav>
    </div>
  </body>
</html>
