<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{style/style.css}" rel="stylesheet">
    <title>Loja de Doces</title>
</head>
<body>
    <div class="container">
        <h1>Bem-vindo à nossa Loja de Doces!</h1>
        <p>Explore nossas deliciosas opções:</p>
        <ul>
            <li> <a href="produtos">Bolos</a></li>
            <li>Brigadeiros</li>
            <li>Doces caseiros</li>
          <li>Cadastrar Produto</li>
        </ul>
        <a href="/listarProdutos">Ver todos os produtos</a><br>
        <a href="/novoProduto"> Cadastrar Produto </a>
    </div>
</body>
</html>