<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Lista de Produtos</title>
</head>
<body>
    <h1>Produtos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Preço</th>
                <th>Descrição</th>
                <th>Data de Fabricação</th>
                <th>Data de Validade</th>
                <!-- Adicione mais cabeçalhos de coluna conforme necessário -->
            </tr>
        </thead>
        <tbody>
            <tr th:each="produto : ${produto}">
                <td th:text="${produto.nome}">Nome</td>
                <td th:text="${produto.preco}">Preço</td>
                <td th:text="${produto.descricao}">Descrição</td>
                <td th:text="${produto.dtFabricacao}">Data de Fabricação</td>
                <td th:text="${produto.dtValidade}">Data de Validade</td>
            </tr>
        </tbody>
    </table>
</body>
</html>