<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cadastrar Produto</title>
</head>
<body>
    <form method="post" th:object="${produtoDto}" >
        <p>Nome: <input type="text" required th:field="*{nome}"  /></p>
        <p>Descrição: <input type="text" required th:field="*{descricao}" /></p>
        <p>Preço: <input type="number" required th:field="*{preco}" /></p>
        <p>Data de Fabricação: <input required type="date" th:field="*{dtFabricacao}" /></p>
        <p>Data de Validade: <input type="date" required th:field="*{dtValidade}" /></p>
        <p><input type="submit" value="Cadastrar" /></p>
    </form>
</body>
</html>
