<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/Project/Docinhos-WEB/src/main/resources/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="container">
        <div class="left">
            <h1>Docinhos web</h1>
            <p>Bolo</p>
            <h2>Doces Feitos com Amor.</h2>
            <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorum deleniti modi mollitia quam perspiciatis? Veritatis iusto quasi ipsam molestias commodi odio, cumque dolorum sed, nobis impedit cum quia, tempore minima!</h3>
        </div>
        <div class="right">
            <h1>SEJA BEM-VINDO!</h1>
            <h2>FAÇA LOGIN PARA CONTINUAR</h2>
            <div class="box">
                asd
            </div>
            <div class="box">
                ads
            </div>
            <div class="box">
                da
            </div>
        </div>
    </div>
</body>
</html>